# === Секреты и окружение ===
.env
.env.secret
.env.local
*.pem
*.key

# === Логи и кэш ===
*.log
__pycache__/
*.pyc
.pytest_cache/
.frontend/node_modules/

# === Docker ===
!.env.example
.docker/
*.swp
*.swo
